:root {
  --primary: #0d47a1;
  --primary-dark: #002171;
  --secondary: #757575;
  --secondary-dark: #494949;
  --dark: #001e2f;
  --dark-dark: #000e1f;
  --success: #00c853;
  --success-dark: #009624;
  --danger: #d50000;
  --danger-dark: #9b0000;
  --info:#40c4ff;
  --info-dark: #0064b7;
  --grey: #ccc;
  --font: Inter,sans-serif;
  --rad-8: 8px;
}

html, body {
  font-family: var(--font);
  color: #000;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-smooth: 2em !important;
  scrollbar-color: #f1f1f1 var(--primary);
}

@media screen and (min-width: 992px) {
  html, body {
    background: #f1f1f1;
  }
}

@media screen and (max-width: 991px) {
  html, body {
    background: #fff;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-dark);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--font);
  font-weight: 700;
}

a {
  color: var(--primary);
}

a:hover {
  text-decoration: none;
  color: var(--primary-dark);
}

.rad-100 {
  border-radius: 10000px;
}

.rad-ul {
  border-radius: var(--rad-8);
}

.shadowed {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.btn {
  padding: .5rem 1.5rem;
  font-weight: 600;
  font-family: var(--font);
}

.btn-primary {
  background: var(--primary);
  border-color: var(--primary);
}

.btn-primary:focus, .btn-primary:hover {
  background: var(--primary-dark);
  border-color: var(--primary-dark);
}

.btn-secondary {
  background: var(--secondary);
  border-color: var(--secondary);
}

.btn-secondary:focus, .btn-secondary:hover {
  background: var(--secondary-dark);
  border-color: var(--secondary-dark);
}

.btn-success {
  background: var(--success);
  border-color: var(--success);
}

.btn-success:focus, .btn-success:hover {
  background: var(--success-dark);
  border-color: var(--success-dark);
}

.btn-danger {
  background: var(--danger);
  border-color: var(--danger);
}

.btn-danger:focus, .btn-danger:hover {
  background: var(--danger-dark);
  border-color: var(--danger-dark);
}

.btn-outline-primary {
  border-color: var(--primary);
  color: var(--primary);
}

.btn-outline-primary:hover, .btn-outline-primary:focus {
  background: var(--primary-dark);
  border-color: var(--primary-dark);
}

.btn-outline-secondary {
  color: var(--secondary);
  border-color: var(--secondary);
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus {
  background: var(--secondary-dark);
  border-color: var(--secondary-dark);
}

.btn-outline-success {
  color: var(--success);
  border-color: var(--success);
}

.btn-outline-success:hover, .btn-outline-success:focus {
  background: var(--success-dark);
  border-color: var(--success-dark);
}

.btn-outline-danger {
  color: var(--danger);
  border-color: var(--danger);
}

.btn-outline-danger:focus, .btn-outline-danger:hover {
  background: var(--danger-dark);
  border-color: var(--danger-dark);
}

.btn-info {
  background: var(--info);
}

.btn-outline-info {
  color: var(--info);
}

.btn-info, .btn-outline-info {
  border-color: var(--info);
}

.btn-info:focus, .btn-info:hover, .btn-outline-info:hover {
  background: var(--info-dark);
  border-color: var(--info-dark);
}

.btn-sm {
  padding: .3rem 1rem;
}

.form-control {
  padding: .75rem 1rem;
  border-radius: var(--rad-8);
  border-color: var(--grey);
  height: auto;
}

.form-control:focus {
  -webkit-box-shadow: 0 0 0 1px var(--primary-dark);
          box-shadow: 0 0 0 1px var(--primary-dark);
  border-color: var(--primary-dark);
}

.input-group-text {
  border-radius: var(--rad-8);
  border-color: var(--grey);
  color: var(--primary);
  font-weight: 700;
}

.input-group .form-control.material {
  border-radius: var(--rad-8) !important;
}

.input-group .form-control.material ~ span {
  position: absolute;
  left: 0;
  z-index: 99;
  pointer-events: none;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #666;
}

.input-group .form-control.material:placeholder-shown ~ span {
  left: 1rem;
  top: .75rem;
}

.input-group .form-control.material:not(:placeholder-shown) ~ span, .input-group .form-control.material:focus ~ span, .input-group .form-control.material:focus-within ~ span {
  background: #fff;
  font-size: 12px;
  font-weight: 700;
  color: var(--primary);
  left: calc(1rem - 3px);
  padding: 0 3px;
  top: -.5rem;
}

.alter .input-group-text {
  background: transparent;
}

.form-check {
  padding-left: 2rem;
  cursor: -webkit-grab;
  cursor: grab;
}

.form-check-input {
  opacity: 0;
}

.form-check-input ~ .form-check-label::before {
  content: "";
  -webkit-box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
  width: 20px;
  height: 20px;
  background-color: #fff;
  left: 0;
  position: absolute;
  border-radius: 4px;
  cursor: -webkit-grab;
  cursor: grab;
}

.form-check-input ~ .form-check-label::after {
  content: "";
  width: 16px;
  height: 16px;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--primary);
  left: 2px;
  top: 2px;
  position: absolute;
  border-radius: 4px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.form-check-input[type=radio] ~ .form-check-label::before {
  border-radius: 100px;
}

.form-check-input[type=radio] ~ .form-check-label::after {
  background: #fff;
  border: 5px solid var(--primary);
  border-radius: 100px;
}

.form-check-input:not(:checked) ~ .form-check-label::after {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.form-check-input:disabled ~ .form-check-label::before {
  background: #eee;
}

.form-check-label {
  cursor: -webkit-grab;
  cursor: grab;
}

.select2-container--default .select2-selection--single {
  padding: .75rem 1rem;
  border-radius: var(--rad-8);
  border-color: var(--grey);
  height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: calc(50% - 13px);
  right: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
}

.select2-dropdown {
  border-color: var(--grey);
}

.select2-dropdown--below, .select2-dropdown--above {
  padding: 1.5rem;
}

@media screen and (min-width: 992px) {
  .select2-dropdown {
    background: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
}

@media screen and (max-width: 991px) {
  .select2-dropdown {
    background: #fff;
  }
}

.select2-dropdown--below {
  border-radius: 0 0 var(--rad-8) var(--rad-8);
}

.select2-search--dropdown {
  padding: 0;
  margin-bottom: 1rem;
}

.select2-search__field {
  border-radius: 4px;
  border: 1px solid var(--grey) !important;
  outline: none;
  background: transparent;
  padding: 0.5rem !important;
}

.select2-search__field:focus {
  -webkit-box-shadow: 0 0 0 1px var(--primary);
          box-shadow: 0 0 0 1px var(--primary);
  border-color: var(--primary) !important;
}

.select2-results__option {
  border-radius: 8px;
  padding: .5rem 1rem;
}

.select2-results__option--highlighted[aria-selected] {
  background: var(--primary) !important;
}

/* SIDEBAR */
.___sidebar {
  position: fixed;
  scrollbar-width: 0;
  background: #fff;
  height: 100vh;
  left: 0;
  z-index: 999;
}

@media screen and (min-width: 992px) {
  .___sidebar {
    --width: 20vw;
    width: var(--width);
    overflow: auto;
    padding: 3rem;
  }
}

@media screen and (max-width: 991px) {
  .___sidebar {
    --width: 80vw;
    width: var(--width);
    overflow: auto;
    padding: 2rem;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  }
  .___sidebar:not(.active) {
    -webkit-transform: translateX(-80vw);
            transform: translateX(-80vw);
  }
}

.___sidebar::-webkit-scrollbar {
  width: 0;
}

.___sidebar-group {
  margin-bottom: 2rem;
}

.___sidebar-group h6 {
  text-transform: uppercase;
  font-family: var(--font);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #999;
}

.___sidebar-group .list-group-item {
  color: #555;
  border: none !important;
  padding: .5rem 0;
  padding-left: 40px;
}

.___sidebar-group .list-group-item:hover {
  color: var(--primary-dark);
}

.___sidebar-group .list-group-item svg {
  color: var(--primary);
  vertical-align: middle;
  position: absolute;
  top: calc(50% - 12px);
  left: 0;
}

.___sidebar .___user {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  width: var(--width);
  padding: 1rem 3rem 1rem 100px;
  -webkit-box-shadow: 0 -15px 0 #fff;
          box-shadow: 0 -15px 0 #fff;
  text-decoration: none;
  color: var(--dark);
}

.___sidebar .___user img {
  border-radius: 100%;
  position: absolute;
  top: calc(50% - 20px);
  left: 3rem;
}

.___sidebar .___user .caption h3 {
  font-size: 18px;
  margin: 0;
}

.___sidebar .___user .caption h5 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: grey;
}

@media (min-width: 992px) {
  .___content {
    margin-left: 20vw;
    padding: 1rem;
  }
}

@media (max-width: 991px) {
  .___content {
    margin-left: 0;
    padding: 0;
  }
}

.___content .counter-data {
  background: #fff;
  padding: 2rem;
  border-radius: var(--rad-8);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  position: relative;
  overflow: hidden;
}

.___content .counter-data.active {
  background: var(--primary);
  color: #fff;
  -webkit-box-shadow: 0 0 30px rgba(144, 131, 241, 0.3);
          box-shadow: 0 0 30px rgba(144, 131, 241, 0.3);
}

.___content .counter-data svg {
  position: absolute;
  bottom: -20px;
  right: -20px;
  opacity: .3;
}

@media screen and (max-width: 992px) {
  .___content .counter-data {
    margin-bottom: 30px;
  }
}

.___content .table-data img {
  max-width: 30px;
}

.___content .chart-canvas {
  background: #fff;
}

@media screen and (min-width: 992px) {
  .___content .navbar:not(.scroll) {
    margin-bottom: 1rem;
  }
  .___content .navbar.scroll {
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    position: fixed;
    left: 20vw;
    right: 0;
    top: 0;
    z-index: 999;
  }
}

.___content .navbar .dropdown-menu {
  border: none;
}

.___content .navbar .search-form {
  position: relative;
}

@media screen and (min-width: 992px) {
  .___content .navbar .search-form .btn {
    position: absolute;
    right: .6rem;
  }
}

.___content .navbar .search-form .form-control {
  padding-top: .45rem;
  padding-bottom: .45rem;
  background: transparent;
}

.___content .navbar .btn {
  padding: .45rem;
}

.___session {
  height: 100vh;
  overflow: auto;
}

@media screen and (min-width: 992px) {
  .___session {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--primary)), to(var(--primary-dark)));
    background-image: linear-gradient(to bottom, var(--primary), var(--primary-dark));
  }
}

.___session .container {
  max-width: 500px;
  padding: 5rem 0;
}

.___session .container form {
  padding: 4rem 2rem 2rem 2rem;
  background: #fff;
}

.modal-backdrop {
  opacity: 1 !important;
}

@media screen and (min-width: 992px) {
  .modal-backdrop {
    background: rgba(0, 0, 0, 0.35);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
}

@media screen and (max-width: 991px) {
  .modal-backdrop {
    background: rgba(0, 0, 0, 0.8);
  }
}

.modal-content {
  border-radius: var(--rad-8);
  border: none;
}

@media screen and (min-width: 992px) {
  .modal-content {
    background: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
}

.modal-header, .modal-footer {
  border: none;
}

.modal-header {
  padding: 2rem 2rem .5rem;
  border: none;
}

.modal-header .close {
  padding: 5px;
  background: #ccc;
  border-radius: 100px;
  margin: 0;
  line-height: 0;
  color: #000;
}

.modal-body {
  padding: .5rem 2rem;
}

.modal-footer {
  padding: .5rem 2rem 2rem;
  border: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.modal-footer > * {
  margin: 0;
  margin-right: .25rem;
}

.modal-footer .btn-secondary {
  color: #000;
  background: #ddd !important;
  border-color: #ddd !important;
}

.swal2-container.swal2-backdrop-show {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.swal2-popup {
  border-radius: var(--rad-8) !important;
}

.table td, .table th {
  vertical-align: middle;
  border: none;
}

.table tr {
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  border-radius: var(--rad-8);
}

.table tr:hover {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.07);
  color: var(--primary-dark);
}

.table tr:hover th, .table tr:hover td {
  background: #fff;
}

.table tr:hover th {
  border-radius: var(--rad-8) 0 0 var(--rad-8);
}

.table tr:hover td:last-child {
  border-radius: 0 var(--rad-8) var(--rad-8) 0;
}

progress {
  -webkit-appearance: none;
  --pr: var(--success-dark);
  --sc: var(--success);
}

progress::-webkit-progress-bar {
  background-color: gainsboro;
  border-radius: 4px;
}

progress::-webkit-progress-value {
  border-radius: 4px;
  background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), -webkit-linear-gradient(left, var(--pr), var(--sc));
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress::-webkit-progress-value::before {
  content: attr(value);
  position: absolute;
  right: 0;
  top: -125%;
}

progress[status='danger'] {
  --pr: var(--danger-dark);
  --sc: var(--danger);
}

progress[status='warning'] {
  --pr: var(--waring-dark);
  --sc: var(--warning);
}

.range-control {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.range-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--primary);
  cursor: pointer;
  border-radius: 100px;
  -webkit-box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.range-control::-webkit-slider-thumb:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.bd-example .btn {
  margin: 5px;
}

@media (max-width: 991px) {
  .___menu-sidebar {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 2.75rem;
    height: 2.75rem;
    background: var(--primary);
    color: #fff;
    -webkit-box-shadow: 0 0 30px rgba(144, 131, 241, 0.5);
            box-shadow: 0 0 30px rgba(144, 131, 241, 0.5);
  }
  .___menu-sidebar svg {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
  }
}
/*# sourceMappingURL=style.css.map */